:root {

    --clr-yellow: hsl(40 97% 58%);
    --clr-darkNavy: hsl(216 17% 35%);
    --clr-dimGrey: hsl(217 12% 62%);
    --clr-LightGrey: hsl(212 41% 93%);
    --clr-snow: hsl(214 37% 96%);
    --clr-lightYellow: hsl(39 100% 94%);

}