@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@400;700&display=swap');

:root {

    --ff-Space: 'Space Mono', monospace;
    --ff-Deca: 'Lexend Deca', sans-serif;

    --fz-Space-20: 1.25rem;

    --fz-Space-heading-h1: 3.5rem;
    --fw-Space-heading: 700;

    --fz-Space-heading-h2: 3rem;
   
    --fz-Space-heading-h3: 2.5rem;
    --fz-Space-heading-h4: 1.5rem;

    

    --fz-Deca-body: 0.9375rem;
    --fw-Deca-body:400;

}



